<mat-selection-list [multiple]="false" (selectionChange)="onSelectionChanged($event)">
    <mat-list-option *ngFor="let componentSample of componentSamples" [value]="componentSample" lines="3">
        <mat-icon matListItemIcon svgIcon="test-tube" class="list-option-icon"></mat-icon>
        <span matListItemTitle>{{componentSample.componentName}}</span>
        <span matListItemLine>{{componentSample.migrationTime}}</span>
        <span matListItemLine>{{componentSample.peakArea | number:'1.3-3'}} RFU</span>
    </mat-list-option>

</mat-selection-list>