.outer-flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.inner-flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.button-group-right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 20px;
}