<div class="outer-flex-container" *ngIf="componentSample$ | async as componentSample">
    <div class="inner-flex-container">
        <h3>Do you really want to delete the sample?</h3>
        <div class="mat-body-1">
            {{ componentSample.componentName }}<br />
            {{ componentSample.migrationTime }}<br />
            {{ componentSample.peakArea | number: '1.3-3' }} RFU
        </div>

        <div class="button-group button-group-right">
            <button mat-stroked-button class="form-button" (click)="onCancelClicked()">
                <mat-icon>cancel</mat-icon>
                <span>Cancel</span>
            </button>
            <button mat-raised-button color="warn" class="form-button" (click)="onDeleteClicked()">
                <mat-icon>check</mat-icon>
                <span>Delete</span>
            </button>
        </div>
    </div>
</div>